html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Source Serif 4', sans-serif;
  background-image: url("neko.jpg");
  background-color: #cccccc;

  background-size: cover;
  background-repeat: no-repeat;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
}

h2 {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 5vh;
  
}

h2.rgb:hover {
  
}

/* RGB colors animation */
.rgb {
  animation: color-change 9s infinite;
}

@keyframes color-change {
  10%{
    color: #1abc58;
  }
  20% {
    color: #1abc9c;
  }

  30% {
    color: #d35400;
  }

  40% {
    color: #2980b9;
  }

  50% {
    color: #ffe600;
  }

  70% {
    color: #2980b9;
  }

  80% {
    color: #f1c40f;
  }

  90% {
    color: #2980b9;
  }

}

.main_div {
  text-align: center;
  position: relative;
  padding-bottom: 0vh;
}

.sub_div {
  position: fixed;
  bottom: 0px;
}

/* Invert the colors on hover */
.sub_div:hover {
  filter: invert(100%);
}

img {
  height: 30vh;
  width: 84vh;
  image-rendering: optimizeQuality;
}

/* Button */
input {
  size: 5vh;
  padding: 2vh;
  font-family: 'Bungee Inline', cursive;
  color: #ff0000;
  font-weight: bold;
  text-align: center;
  font-size: 2vh;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(0, 0, 0);
}

input:hover {
  background-color: rgb(255, 255, 255);
}

.input_div {
  text-align: center;
  position: absolute;
  top: 55vh;
}



/* Nav Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  top: 0px;
}

li a:hover:not(.active) {
  background-color: #df5c64;
  border-color: black;
  border-width: 2px 2px;
  border-style:solid;
}

.active {
  background-color: #df5c64;
  border-color: black;
  border-width: 2px 2px;
  border-style:solid;
}

.nav_div {
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 0vh;
}


.nav_div2 {
  text-align: center;
  position: absolute;
  top: 10px;
  right: 0px;
  padding-bottom: 0vh;
}

.a1:link {
  text-decoration: none;
}

.a1:visited {
  text-decoration: none;
}

.a1:hover {
  text-decoration:wavy;
  color: #cf7e25;
}

.a1:active {
  text-decoration: underline;
}

.a1 {

  padding: 1.5mm;
  background-color: black;
  color: white
}

/* Text Box */
.textbox {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 25px;
  letter-spacing: 0.5px;
  margin-bottom: 30vh;
  margin-left: 30vh;
  padding: 0.2in;
  text-align: left;
  margin-right: 30vh;
  color: rgb(255, 255, 255);
  font-weight: 0;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.75);

}

.textbox ul {
  list-style-type: circle;
  background-color: rgba(0, 0, 0, 0.0);

}

.textbox ul li {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.5px;
  text-align: left;
  color: rgb(255, 255, 255);
  font-weight: 0;

}


.slideshow-container {
    max-width: 5000px;
    position: relative;
    margin-right: 50vh;
    margin-bottom: 25vh;
  }


  /* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

.mySlides {display: none}
img {border-radius: 5px;}

.prev, .next {
    cursor: pointer;
   height: 5vh;;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 30px;
    padding-bottom: 2vh;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }